Flask==0.8
Flask-Bcrypt==0.5.2
Flask-Login==0.1.1
Flask-OAuth==0.11
Flask-SQLAlchemy==0.16
Flask-Script==0.3.3
Flask-Uploads==0.1.3
Flask-WTF==0.6
Jinja2==2.6
PIL==1.1.7
SQLAlchemy==0.7.7
WTForms==1.0.1
Werkzeug==0.8.3
argparse==1.2.1
boto==2.4.1
flask-urls==0.9.2
gunicorn==0.14.3
httplib2==0.7.4
oauth2==1.5.211
psycopg2==2.4.5
py-bcrypt==0.2
wsgiref==0.1.2
facebook-sdk==0.3.1
